<template>
  <div class="<%= data.lowerName %>">
    {{msg}}
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    data() {
      return {
        msg: '<%= data.name %>'
      }
    },
    create() {

    },
    mounted() {

    },
    props: {

    },
    mixins: [],
    components: {

    },
    methods: {
      
    },
    computed: {
      
    },
    watch: {
      
    }
  }
</script>

<style scoped>
.<%= data.lowerName %> {
  
}
</style>